@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("/public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("/public/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}
